@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
        
}

main {
    margin: 0 auto;
}

#img-wrapper {
    width: 800px;
}