#img-caption, #depoiment-text, h3 {
    text-align: center;
}

#img-div {
    margin: 0 auto;
    background-color: goldenrod;
    max-width: 80vh;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#tribute-info {
    display: block;
    margin: 0 auto;
}

#depoiment-credit {
    text-align: end;
}