/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    text-align: center;
    background-color: black;
    color: white;
}

#img-div {
    margin: 0 auto;
    padding-top: 20px;
    background-color: #FFD700;
}

#img {
    padding: 20px;
    background-color: black;
    max-width: 80%;
    height: auto;
}

#img-caption {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 300;
    color: black;

}

p {
    font-style: italic;
}

#tribute-info {
    font-size: 1rem;
    line-height: 2rem;
}

h2 {
    line-height: 3rem;
    padding-top: 10px;
}

#depoiment-text{
    padding: 20 100px;
    font-weight: 400;
}

#depoiment-credit {
    text-align: end;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

#img-div {
    width: 800px;
}

footer {
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width:800px) {
    #img-div {
        display: flex;
        flex-direction: column;
        width: 500px;
        align-items: center;
    }

    #img {
        width: 400px;
    }

    #tribute-info {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 400px) {
    #img-div {
        margin: 0;
        padding: 0;
    }

    #img {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #img-caption {
        display: none;
    }

    #tribute-info {
        padding: 10px;
    }

    #depoiment-text{
        padding: 0;
    }
}